services:
  api:
    container_name: codinlab-api
    build:
      context: ../backend/.
      dockerfile: ../docker/backend/dev.Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ../backend:/app
      - /var/run/docker.sock:/var/run/docker.sock  # Docker.sock ekleniyor
    networks:
      - codinlab

  frontend:
    container_name: codinlab-frontend
    build:
      context: ../frontend/.
      dockerfile: ../docker/frontend/dev.Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ../frontend:/app
    networks:
      - codinlab

  nginx:
    image: nginx:latest
    container_name: codinlab-nginx
    restart: always
    volumes:
      - ./nginx:/etc/nginx/conf.d
    ports:
      - 80:80
      - 443:443
    networks:
      - codinlab

networks:
  codinlab:
    driver: bridge